.git/
.*.sw[op]
.metadata
.yardoc
.yardwarns
*.iml
.Readme.md
/swagger-aem-osgi-demo/.Readme.md
/.bundle/
/swagger-aem-osgi-demo/.bundle/
/.idea/
/.vagrant/
/coverage/
/bin/
/swagger-aem-osgi-demo/bin/
/doc/
/files/test/
/Gemfile.local
/inspec.lock
/junit/
/log/
/pkg/
/test/integration/.librarian
/test/integration/.tmp
/test/integration/modules
/tmp/
/vendor/
/convert_report.txt
/update_report.txt
.DS_Store
